.btn {
  display: inline-block;
  border: 0;
  @include button-reset();
}

.btn--icon {
  padding: 7px;
  background-color: $white;
  border-radius: 4px;
  @include click-active($lightGrey);
  &:hover {
    background: $lightGrey;
  }
}
