$height: 150px !default;
.header {
  height: $height;
}

.header_left > .nav {
  margin-left: 40px;
}

.logo {
  $size: 90px;
  width: 90px;
  height: 90px;
  border: 5px solid $yellow;
  border-radius: 100%;
  > img {
    display: block;
    height: 100%;
    border-radius: 100%;
    background: $lightGrey;
  }
}

.nav {
  height: 40px;
  line-height: 40px;
}

.nav_list {
  @include list-reset();
  font-size: 0;
  li {
    display: inline-block;
    padding: 0 20px;
    font-size: $fontSizeXMiddle;
  }
}
