.search.is-active {
  > .search_input {
    display: flex;
  }
}

.search_input {
  width: 100%;
  @include row-x(center);
  @include row-y(center);
  display: none;
  > input {
    width: 60%;
    height: 40px;
    padding: 0 8px;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: $white;
    color: $white;
    font-size: 1.7em;
    background-color: transparent;
    @include input-reset();
  }
}
