.btn {
  display: inline-block;
  border: 0;
  @include button-reset();
}

a.btn {
  @include link-reset($white);
}

.btn--normal {
  padding: 8px 24px;
  color: $white;
  font-size: $fontSizeMiddle;
  background: $yellow;
  border-radius: 6px;
  line-height: 20px;
  &[disable] {
    background: $lightGrey;
    &:hover {
      background: $lightGrey;
    }
  }
}

.btn--icon {
  padding: 8px;
  background-color: $white;
  border-radius: 100%;
  @include click-active($lightGrey);
  &:hover {
    background: $lightGrey;
  }
}
