:not(.line)>.tag {
  display: inline-block;
  padding: 8px;
  font-size: $fontSizeSmall;
  background: $lightYellow;
  color: $black;
  border-radius: 4px;
  > a {
    @include link-reset($black);
    &:hover {
      color: rgba($color: $black, $alpha: 0.7);
    }
  }
}

.tag--small {
  padding: 4px 6px;
}

.tag--big {
  padding: 12px 18px;
  font-size: $fontSizeMiddle;
}

.tag--medium {
  padding: 10px 14px;
  font-size: $fontSizeNormal;
}
