.tag {
  display: inline-block;
  padding: 8px;
  font-size: $fontSizeSmall;
  background: $lightYellow;
  color: $black;
  border-radius: 4px;
  > a {
    @include link-reset($black);
    &:hover {
      text-decoration: underline;
    }
  }
}

.tag--big {
  padding: 12px 18px;
  font-size: $fontSizeMiddle;
}
