.archive-item {
  line-height: 42px;
  font-size: $fontSizeMiddle;
  padding-left: 24px;
}

.archive-item_title {
  max-width: 70%;
  display: inline-block;
  @include link-reset($black);
  @include text-ellipsis();
  @include text-hover();
  vertical-align: bottom;
}

.archive-item_date {
  display: inline-block;
  color: $boldYellow;
}
