
.article_title {
  font-size: $fontSizeXBig;
  line-height: 64px;
  text-align: left;
}

.article_info {
  line-height: 30px;
  color: $boldYellow;
  font-style: italic;
  > span {
    margin-right: 8px;
  }
}

.article_content {
  font-size: $fontSizeNormal;
  line-height: 28px;
}

.article_opts {
  min-height: 45px;
  @include row-x(between);
  @include row-y(top);
  @include isMulti();
}

.article_tags {
  font-size: 0;
  > a {
    line-height: 45px;
    display: inline-block;
    font-size: $fontSizeNormal;
    @include link-reset($boldYellow);
    @include text-hover;
    margin-right: 8px;
  }
}

.article_share {
  height: 100%;
}

.article_share_title {
  margin-right: 8px;
  font-size: $fontSizeNormal;
  color: $black;
  line-height: 45px;
}

.article_share_list {
  @include row-y(center);
}
