.lastest-list {
  @include list-reset();
}

.lastest-list_item {
  display: block;
  line-height: 30px;
  font-size: $fontSizeSmall;
  @include text-ellipsis();
  > a {
    overflow: hidden;
    @include link-reset($black);
    @include text-hover;
  }
}
