.site-info {
  height: 100%;
}

.site-info_powerd {
  font-size: $fontSizeSmall;
  font-style: italic;
  line-height: 20px;
}

.site-info_copyright {
  font-size: $fontSizeXSmall;
  font-style: italic;
  line-height: 20px;
}
