$defaultWidth: 1080px !default;
.container {
  @include col-y(between);
  width: $defaultWidth;
  padding: 0 40px;
  box-sizing: border-box;
  margin: auto;
  min-height: 100%;
  overflow: auto;
  transition: all 500ms ease;
  @media screen and (max-width: 1080px) {
    width: 100%;
  }
}

.sidebar.is-active ~ .container {
  transform: translate3d(280px, 0, 0);
}
